<html>
<head>

<h1  style="color:blue;">Calender Overview!</h1>

</head>

<body>

<style>
    body {background-image: url(https://images.unsplash.com/photo-1614787635162-d96af1980854?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);}
    </style> 

<h2 style="color:blue;">The calender(s) you have created are listed here.</h2>

{% if calendars %}
    <ul>
    {% for c in calendars %}
        <li><a href="/planner/{{ c.id }}/">{{ c.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p  style="color:blue;">Looks like you haven't made any calenders yet.</p>
{% endif %}



</body>
</html>
