<html>
<head>
<h1  style="color:chartreuse">Calendar Overview!</h1>
<p>Photography by Daniel Mirlea</p>
</head>



<body>
   
<style>
    body {background-image: url(https://images.unsplash.com/photo-1614787635162-d96af1980854?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
            background-repeat: no-repeat;
            background-size: cover;
    }

    </style> 

<h2 style="color:chartreuse">The calendar(s) you have created are listed here.</h2>

{% if calendars %}
    <ul>
    {% for c in calendars %}
        <li><a href="/planner/{{ c.id }}/">{{ c.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p  style="color:chartreuse">Looks like you haven't made any calendars yet.</p>
{% endif %}



</body>
</html>
<html>

<head>
    <title>MyPlate Calculator</title>
    <script type="text/javascript">
  	 function enter()
        {
            //Obtain user inputs
	        var vegetables = Number(document.getElementById("vegetables").value);
       	    var fruit = Number(document.getElementById("fruit").value);
            var grains = Number(document.getElementById("grains").value);
            var protien = Number(document.getElementById("protiens").value);
            var dairy = Number(document.getElementById("dairy").value);
            var gender=document.getElementById("gender").value;




            
            //Calculate MyPlate
            var vegplate = vegetables / 2.5;
            var fruplate = fruit / 2;
            var graplate = grains / 6;
            var proplate = protien / 5.5;
            var darplate = dairy / 3;
 
                /* This is how you create if variables to use as factors for calorie count */
                if (gender=="male") {vegplate = vegetables / 3;}
                if (gender=="male") {graplate = grains / 8;}
                if (gender=="male") {proplate = protien / 6;}



            /*var vegplate2 = vegetables / 3;
            var fruplate2 = fruit / 2;
            var graplate2 = grains / 8;
            var proplate2 = protien / 6.5;
            var darplate2 = dairy / 3;
            */


            document.getElementById("outputveg").innerText = (vegplate * 100)
            document.getElementById("outputfru").innerText = (fruplate * 100)
            document.getElementById("outputgra").innerText = (graplate * 100)     
            document.getElementById("outputpro").innerText = (proplate * 100)
            document.getElementById("outputdar").innerText = (darplate * 100)



            /*document.getElementById("outputveg2").innerText = (vegplate2 * 100)
            document.getElementById("outputfru2").innerText = (fruplate2 * 100)
            document.getElementById("outputgra2").innerText = (graplate2 * 100)     
            document.getElementById("outputpro2").innerText = (proplate2 * 100)
            document.getElementById("outputdar2").innerText = (darplate2 * 100)*/

}
    </script>
</head>

<body>
    <style>
        body {background-image: url(https://images.unsplash.com/photo-1637434659088-cec7b7ea8646?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);}
        </style> 

    <h1 style="color:chartreuse">Try out our MyPlate counter!</h1>
    <h3 style="color:chartreuse"> Determine how much of the daily reccomneded amounts your meal contains, for a 2000 calorie diet.</h3> 
    
    <p style="color:chartreuse">Are you female or male? 
        <select type="multiple" id="gender">
            <option value="female" selected="selected">female</option>
            <option value="male">male</option>
        </select>


    <p style="color:chartreuse">How many cups of vegetables does your meal contain? <input type="text" id="vegetables"/>
    </p>
    <p style="color:chartreuse">How many cups of fruit does your meal contain? <input type="text" id="fruit"/>
    </p>
    <p style="color:chartreuse">How many ounces of grains does your meal contain? <input type="text" id="grains"/>
    </p>
    <p style="color:chartreuse">How many ounces of protien does your meal contain? <input type="text" id="protiens"/>
    </p>
    <p style="color:chartreuse">How many cups of dairy does your meal contain? <input type="text" id="dairy"/>
    </p>

 <input type="submit" value="enter" onclick="enter();">

    <h1 style="color:chartreuse">Your Meal Contains: </h1>

    <h2 style="color:chartreuse"><span id="outputveg">?</span> % of vegetables</h2> 
    <h2 style="color:chartreuse"><span id="outputfru">?</span> % of fruit</h2> 
    <h2 style="color:chartreuse"><span id="outputgra">?</span> % of grains</h2> 
    <h2 style="color:chartreuse"><span id="outputpro">?</span> % of protien</h2> 
    <h2 style="color:chartreuse"><span id="outputdar">?</span> % of dairy</h2> 
    
    <h2 style="color:chartreuse">...recomended for the daily amount.</h2>

    <p style="color:chartreuse">Use of the MyPlate calculator is for reference only and should not be consulted in place of a licensed nutritionist. The calculator assumes a 2400 calorie diet for men and a 2000 calorie diet for women.</p>
    <p style="color:chartreuse">Nutritional information obtained from <a href="https://www.myplate.gov/">myplate.gov</a></p>

</body>

